$primary-color: #12ae3a;
$light-primary-color: #17de49;
$dark-primary-color: #109431;

$secondary-color: #000000;
$light-secondary-color: #d3d3d3;

$base-color: #ffffff;

$header-color: #f5f5f5;
$danger: red;

$error: rgb(177, 50, 50);